.user-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.app-task-list-container {
  width: 300px;
  height: auto;
  flex: 2;
  order: 0;
}

.app-tags-control-panel-container {
  padding-right: 30px;
  order: 1;
  width: 300px;
}
