<div class="task-container">

  <div class="task-form-container">
    <button class="add-task-btn" (click)="toggleAddTaskForm()">Добавить <br>задачу</button>

    <div *ngIf="isAddingTask" class="add-task-form">
      <input [(ngModel)]="newTask.title" placeholder="Название" />
      <input [(ngModel)]="newTask.description" placeholder="Описание" />

      <label>Приоритет:</label>
      <select [(ngModel)]="newTask.priority">
        <option [value]="1">Высокий</option>
        <option [value]="2">Средний</option>
        <option [value]="3">Низкий</option>
      </select>

      <label>Категория:</label>
      <select [(ngModel)]="newTask.category">
        <option [value]="1">Работа</option>
        <option [value]="2">Учеба</option>
        <option [value]="3">Спорт</option>
        <option [value]="4">Домашние дела</option>
      </select>

      <label>Дедлайн:</label>
      <input type="datetime-local" [(ngModel)]="newTask.deadline" />

      <button (click)="addTask()">Сохранить</button>
    </div>
  </div>

  <div class="task-columns">
    <div class="task-column">
      <h3>Высокий приоритет</h3>
      <app-task-item
        *ngFor="let task of highPriorityTasks"
        [task]="task"
        [refreshTasks]="getAllTasksOfUser.bind(this)">
      </app-task-item>

    </div>

    <div class="task-column">
      <h3>Средний приоритет</h3>
      <app-task-item
        *ngFor="let task of mediumPriorityTasks"
        [task]="task"
        [refreshTasks]="getAllTasksOfUser.bind(this)">
      </app-task-item>
    </div>

    <div class="task-column">
      <h3>Низкий приоритет</h3>
      <app-task-item
        *ngFor="let task of lowPriorityTasks"
        [task]="task"
        [refreshTasks]="getAllTasksOfUser.bind(this)">
      </app-task-item>
    </div>
  </div>

</div>
